body {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 25px;
  font-family: Arial;
}

.imagecss {
  height: 50px;
}

.button {
  background-color: transparent;
  border-radius: 80px;
  border: 3px solid white;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.resultcss {
  font-size: 30px;
  margin-top: 20px;
}

.scorecsss {
  font-size: 20px;
}

.manoj {
  padding: 5px 10px;
  border: none;
}
